@import "~bootstrap-icons/font/bootstrap-icons.css";

.sectionBorder {
    box-shadow: rgba(0, 0, 0, 0.4) 0 0px 7px;
    border-radius: 8px;
}

.dash-tile-icon {
    font-size: 4.5em;
}

.card-header {
    color: white !important;
}

.table-cursor tbody tr {
    cursor: pointer;
}

.control-error {
    color: red;
    font-size: 0.9em;
}

.nav-brand {
    color: #61dafb;
    font-size: 25px;
}

.nav-logo {
    height: 7vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
        animation: nav-logo-spin infinite 20s linear;
    }
}

@keyframes nav-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}